/* Form */
.form-container{
    padding: 50px;
}

.title{
    text-align: center;
}

.distance-radio{
    display: flex;
    justify-content: space-between;
}

.button-container{
    display: flex;
    justify-content: center;
}

.button {
    width: 200px;
    margin-left: 35px;
}