/* Form */
.form-container{
    padding: 50px;
    background-color:#072040;
}

.title{
    text-align: center;
    color: #F2B441;
}

.input-title{
    color: #F2B441;
}

.distance-radio{
    display: flex;
    justify-content: space-between;
}

.button-container{
    display: flex;
    justify-content: center;
}

.button {
    width: 200px;
    margin-left: 35px;
    background-color:#D8E6F2;
}